@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Wedding Invitees Registration", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @*<li>@Html.ActionLink("Venues", "Index", "Venues", new { area = "" }, new { @class = "nav-link" })</li>*@
                    @* <li>@Html.ActionLink("Event Details", "Index", "EventDetails", new { area = "" }, new { @class = "nav-link" })</li>*@
                    @*<li>@Html.ActionLink("Attendees", "Index", "Attendees", new { area = "" }, new { @class = "nav-link" })</li>*@
                    <li>@Html.ActionLink("Event Registration", "Index", "EventRegistrations", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-10 my-4">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
		$(function () {
			const currentPage = location.pathname;
			$('.nav-tabs li a').each(function () {
				const $this = $(this);
				if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) == -1) {
					$this.addClass('active');
				}
			})
		})
    </script>
}
